<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>ezStudy</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<style type="text/css">
		ul{
			list-style-type: none;
			margin-left:  0;
			padding: 0;
			overflow: hidden;
			background-color: none;
		}
		li{
			margin-left: 25px;
			float: left;
		}
	</style>
</head>
</head>
<body ng-controller="TabController">

	<div ng-controller="nested-repeat">

		<div class="breadcrumb">
			<ul>
				<li>ezStudy</li>
				<li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Học Sinh</a></li>
				<li ng-class="{active:isSet(5)}"><a href ng-click=" setTab(5)">Lớp</a></li>
			</ul>
		</div>
		
			<div  style="display: flex;"  ng-show="isSet(1)">
				<p><input type="text" name="" placeholder=" họ tên" ng-model = "Userinput.hoten"></p>
				<p><input type="text" name="" placeholder="tuổi" ng-model = "Userinput.tuoi"></p>
				<select ng-model = "Userinput.lop">
					<optgroup ng-repeat="kho in khoi1" >
						
						<option >{{kho.name}}</option>
						
					</optgroup>
					
				</select>
				<button ng-click="searchsinhvien()" class="btn-info" >tìm kiếm</a></button>
				
			</div>
		

		<div >
			
			
			<div ng-show="isSet(5)" class="table-responsive">
				<div><button ng-class="{active: isSet(6)}" href ng-click="setTab(6)">Tạo lớp</button></div>
				<table border="1px solid blue" class="table-condensed">
					<thead>
						<tr>
							<td>STT</td>
							<td>Lop</td>
							<td>Thao tac</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="kho in khoi1" >
							<td >{{$index}}</td>
							<td >{{kho.name}}</td>
							<td>
								<button ng-class="{active: isSet(7)}" href ng-click="setTab(7);loadformedit(kho,$index)">sửa</button>
								<button ng-click="removelop(kho,index)">xóa</button>
							</td>

						
						</tr>
					</tbody>
				</table>
				
			</div>
			<div ng-show="isSet(6)">
					<form ng-submit="addlop(form)">
						<p>Thêm lớp</p>
						<p>Tên lớp: <input type="text" name="" ng-model="form.name"></p>
						<p>Thuộc lớp:
							<select >
								<optgroup ng-repeat="kho in khoi1" >
							
									<option >{{kho.name}}</option>
							
								</optgroup>
						
							</select>
						</p>
						<input type="submit" name="" value="Lưu">
					</form>

				</div>
			
			<div ng-show="isSet(2)">
				<p>Thêm sinh viên</p>
				<form  ng-submit="addsinhvien(form)" class="form-horizontal">
					<p>họ và tên <input type="text" ng-model="form.hoten" ></p>
					<p>năm sinh <input type="date" ng-model="tuoi" ></p>
					<p>lớp
						<select ng-model="form.lop">
							<optgroup ng-repeat="kho in khoi1" >
						
								<option >{{kho.name}}</option>
						
							</optgroup>
						
						</select>
					</p>
					<input type="submit" name="" value="lưu" class="btn btn-primary disabled">
				</form>
			</div>
			<div ng-show="isSet(7)">
				<form ng-submit="saveEditlop()">
						<p>sửa lớp</p>
						<p>Tên lớp: <input type="text" name="" ng-model="formeditclass.name"></p>
						<p>Thuộc lớp:
							<select >
								<optgroup ng-repeat="kho in khoi" >
							
									<option >{{kho.name}}</option>
							
								</optgroup>
						
							</select>
						</p>
						<input type="submit" name="" value="Lưu">
					</form>

			</div>


			<div ng-show="isSet(1)" class="table-responsive">
				<button ng-class="{active: isSet(2)}" href ng-click="setTab(2)" class="btn-primary">Thêm sinh viên</button>
				<table border="1px solid blue" class="table-condensed"  >
				<thead >
					<tr>
						<td width="100px" align="center" >STT</td>
						<td width="100px" align="center" >HO TEN</td>
						<td width="100px" align="center" >TUOI</td>
						<td width="100px" align="center" >LOP</td>
						<td>THAO TAC</td>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="sinh in SinhVien | filter:search" align="center" width="30px" >
						<td>{{$index}}</td>
						<td>{{sinh.hoten}}</td>
						<td>{{sinh.tuoi}}</td>
						<td>{{sinh.lop}}</td>
						<td style="display: flex;">
							<button ng-class="{active: isSet(3)}" href ng-click="setTab(3,sinh);  " class="btn-warning">Sửa</button>
							<input type="submit" name="" value="Xóa" ng-click="removesinhvien(sinh)" class="btn-danger">
						</td>
					</tr>
				</tbody>
				</table>
			</div>
			<div  ng-controller="nested-repeat" ng-show="isSet(3)">
				<h1>Sửa học sinh</h1>
				
				<div>
					<form >
						
						Nhap ten: <input type="text" name="" ng-model="sinh.hoten">
						Nhap tuoi: <input type="text" name="" ng-model="sinh.tuoi">
						<p>lớp
						<select ng-model="sinh.lop">
							<optgroup ng-repeat="kho in khoi1" >
						
								<option >{{kho.name}}</option>
						
							</optgroup>
						
						</select>
					</p>
						<button ng-click="saveEdit()" >lưu</button>
					</form>
				</div>
			</div>

		</div>

	</div>
<script type="text/javascript">
	var myApp = angular.module("myApp",[]);
	myApp.controller('nested-repeat',  function($scope){
		
		var khoi1 = [

			{name: "lop11" },
			{name: "lop11a" },
			{name: "lop11b" },
			{name: "lop12" },
			{name: "lop12a" },
			{name: "lop12b" }


		];
		$scope.khoi1 = khoi1;
		var khoi = [
			{name:"lop10"},
			{name:"lop11"},
			{name:"lop12"}
		];
		$scope.khoi = khoi;
		
		var SinhVien = [
			{hoten: "khoa", tuoi:21,lop:"lop11a"},
			{hoten: "manh", tuoi:34,lop:"lop11b"},
			{hoten: "huy", tuoi:45,lop:"lop12a"},
			{hoten: "nam", tuoi:22,lop:"lop12b"}
			
		];
		$scope.SinhVien = SinhVien;

		// $scope.SinhVien = [],
		// $scope.currentPage = 1,
		// $scope.numPerPage = 10,
		// $scope.maxSize = 5;
		// for(var i = 0; i < 100; i++){
		// 	var Student = {hoten: "khoa" + i, tuoi:21,lop:"lop11a"};

		// 	SinhVien.push(Student);
		// }
		// $scope.$watch('currentPage + numPerPage', function() {
  //   		var begin = (($scope.currentPage - 1) * $scope.numPerPage),
  //   		 end = begin + $scope.numPerPage;
    
  //   	$scope.filteredTodos = $scope.SinhVien.slice(begin, end);
 	// 	 });
		
		
		
		
		
		$scope.tuoi = '';
		
		$scope.addsinhvien = function(form){
						$scope.form = {
						hoten:'',
						tuoi:'',
						lop:''

					};
					if (form.hoten=="") {
						alert("data must be entered in this field");
					}else{
						form.tuoi = new Date().getFullYear()- $scope.tuoi.getFullYear();
						$scope.SinhVien.push(form);
						
						$scope.setTab(1);
						alert("Have successfull")
					}
						

					}
		$scope.addlop = function(form){
			$scope.form = {
				name: ""
			};
			if (form.name == "") {
				alert("data must be entered in this field")
			}else{
				$scope.khoi1.push(form);
				$scope.setTab(5);
			}
			
		}
		
		$scope.removelop = function(khoi1,index){
			var index = $scope.khoi1.indexOf(khoi1);
			$scope.khoi1.splice(index,1);
		}
		$scope.removesinhvien = function (SinhVien,index) {
						
						var index = $scope.SinhVien.indexOf(SinhVien);
						$scope.SinhVien.splice(index,1);
					}
		$scope.indexclass = '';
		$scope.change_Main_Edit = false;
		$scope.change = false;
		$scope.saveEditlop = function(){
			$scope.khoi1[$scope.indexclass].name = $scope.formeditclass.name;
			$scope.change = false;
        	$scope.setTab(5);
		}
		//edit
		$scope.formeditclass = {

			name:"",
			khoi:""
		};
		$scope.loadformedit = function(editclass, index){
			$scope.formeditclass.name = editclass.name;
			$scope.formeditclass.khoi = $scope.formeditclass.name;
			$scope.indexclass = index;

		}
		$scope.saveEdit = function(){
        $scope.change_Main_Edit = false;
        $scope.setTab(1);
    	}
    	//search
		$scope.search = {};
		$scope.Userinput = {};
		$scope.searchsinhvien = function () {
			for(sinh in $scope.Userinput){
				$scope.search[sinh] = $scope.Userinput[sinh];

			}

		}

		$scope.SinhVien = SinhVien;


	});
	myApp.controller('TabController',['$scope',function ($scope) {
		// body...
		$scope.tab = 1;

		$scope.setTab = function (newTab,sinh) {
			// body...
			$scope.tab = newTab;
			$scope.sinh = sinh;
		};
		$scope.isSet = function(tabNum){
			return $scope.tab === tabNum;
			};
	}]);
	
</script>
</body>
</html>